* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
}

.search-bar {
    width: 40%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.login-btn {
    padding: 8px 15px;
    border: none;
    background: white;
    color: #4a00e0;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/* HERO */
.hero {
    background: #f5f5f5;
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.shop-now-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #4a00e0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* CATEGORIES */
.categories {
    padding: 40px;
    text-align: center;
}

.category-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.category-card {
    width: 180px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.category-card p {
    padding: 10px;
    font-weight: bold;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}

.product-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product-card {
    width: 200px;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product-card button {
    margin-top: 10px;
    padding: 8px;
    background-color: #4a00e0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}